/* Googlefont Poppins CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}
.sidebar {
  position: fixed;
  height: 100%;
  width: 235px;
  border-radius: 5px;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 4px 4px rgba(43, 43, 43, 0.2);
  bottom: 5px;
  
  
}

.sidebar.active {
  width: 60px;
}

.sidebar .logo-details {
  height: 80px;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  min-width: 40px;
  text-align: center;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 27px;
  font-weight: 500;
  
}
.sidebar .nav-links {
  margin-top: 10px;
}
.sidebar .nav-links li {
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .nav-links li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  color: #00634C;
  font-size: 17px;
}
.sidebar .nav-links li a.active {
  color: #00634C;
}
.sidebar .nav-links li a:hover {
  color: #00634C;
  height: 115%;
  width: 115%;
  background-color: #f3f3f3;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0px 0px 4px 4px rgba(43, 43, 43, 0.2);
  }
  .sidebar .nav-links li a:active {
    color: #E84E0F;
    height: 140%;
    width: 140%;
    background-color: #f3f3f3;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  
   /* Couleur orange pour l'icône */
.sidebar .nav-links li a:hover i {
  color: #E84E0F;
}

.sidebar .nav-links li i {
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color:  #00634C;
}
.sidebar .nav-links li a .links_name {
  color: #00634C;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}


.sidebar .nav-links li a:hover .links_name {
  color: #E84E0F;
}

.sidebar .nav-links .log_out {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home-section {
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
  background-color: #f3f3f3;
}
.sidebar.active ~ .home-section {
  width: calc(100% - 60px);
  left: 60px;
}

#currentDateTime {
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}

#currentDateTime b {
  margin-right: 5px; 
}

.home-section nav {
  display: flex;
  justify-content: space-between;
  height: 75px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 4px 0px 4px 4px rgba(241, 71, 9, 0.2);
  transition: all 0.5s ease;
  border-radius: 10 px;
}
.sidebar.active ~ .home-section nav {
  left: 60px;
  width: calc(100% - 60px);
}
.home-section nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 1000;
  
}
nav .sidebar-button i {
  font-size: 35px;
  margin-right: 10px;
  
}
.home-section nav .search-box {
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
  box-shadow: 0px 0px 4px 4px rgba(43, 43, 43, 0.2);
}
nav .search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  background: #f5f6fa;
  border: 2px solid #efeef1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}
nav .search-box .bx-search {
  position: absolute;
  height: 40px;
  width: 40px;
  background: #00634C;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}
.home-section nav .profile-details {
  display: flex;
  align-items: center;
  background: #f5f6fa;
  border: 2px solid #efeef1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}
nav .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}
nav .profile-details .admin_name {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}
nav .profile-details i {
  font-size: 25px;
  color: #333;
}
.home-section .home-content {
  position: relative;
  padding-top: 90px;
}
.home-content .overview-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}
.overview-boxes .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: #fff;
  padding: 10px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 4px rgba(43, 43, 43, 0.2);
  margin-bottom: 10px;
}
.overview-boxes .box-topic {
  font-size: 20px;
  font-weight: 500;
}
.home-content .box .number {
  display: inline-block;
  font-size: 35px;
  margin-top: 10px;
  font-weight: 500;
}
.home-content .box .indicator {
  display: flex;
  align-items: center;
}
.home-content .box .indicator i {
  height: 20px;
  width: 20px;
  background: #8fdacb;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  margin-right: 5px;
}
.box .indicator i.down {
  background: #e87d88;
}
.home-content .box .indicator .text {
  font-size: 12px;
}
.home-content .box .cart {
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 5px;
  margin: -15px 0 0 6px;
}
.home-content .box .cart.two {
  color: #2bd47d;
  background: #c0f2d8;
}
.home-content .box .cart.three {
  color: #ffc233;
  background: #ffe8b3;
}
.home-content .box .cart.four {
  color: #e05260;
  background: #f7d4d7;
}
.home-content .total-order {
  font-size: 20px;
  font-weight: 500;
  }
  .home-content .datas-boxes {
    display: flex;
    justify-content: space-between;
    /* padding: 0 20px; */
  }

.datas-boxes {
   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 15px 14px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 4px rgba(43, 43, 43, 0.2);
    bottom:5px;
}

  /* left box */
  .home-content .datas-boxes .recent-datas {
    width: 65%;
    background: #fff;
    padding: 0px 0px;
    margin: 5 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 4px rgba(43, 43, 43, 0.2);
  }

  .recent-datas {
    width: 65%;
    background: #fff;
    padding: 20px 30px;
    margin: 0 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .home-content .datas-boxes .datas-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .datas-boxes .box .title {
    font-size: 24px;
    font-weight: 500;
    /* margin-bottom: 10px; */
  }
  .datas-boxes .datas-details li.topic {
    font-size: 20px;
    font-weight: 500;
  }
  .datas-boxes .datas-details li {
    list-style: none;
    margin: 2px 0;
  }
  .datas-boxes .datas-details li a {
    font-size: 18px;
    color: #333;
    font-size: 400;
    text-decoration: none;
  }
  .datas-boxes .box .button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .datas-boxes .box .button a {
    color: #fff;
    background: #00634C;
    padding: 4px 12px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .datas-boxes .box .button a:hover {
    background: #E84E0F;
    color:#00634C;
  }


  .anchor .anchor2 {
    
    width: 100%;
    background: #fff;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 4px rgba(43, 43, 43, 0.2);
   
    bottom: 5px;
    right: 5px;
    padding: 10px 10px;
    margin-top: 2px;
  }


  .anchor-flex .anchor2-flex {
    
    width: 100%;
    background: #fff;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 4px rgba(43, 43, 43, 0.2);
    
    bottom: 5px;
    right: 5px;
    padding: 10px 10px;
    margin-top: 2px;
  }

/* Right box */
.home-content .datas-boxes .top-datas {
  width: 35%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px 0 0;
  border-radius: 5px;
  
}
.datas-boxes .top-datas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.datas-boxes .top-datas li a img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
  background: #333;
}
.datas-boxes .top-datas li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.datas-boxes .top-datas li .product,
.price {
  font-size: 17px;
  font-weight: 400;
  color: #333;
}





/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar {
    width: 60px;
  }
  .sidebar.active {
    width: 220px;
  }
  .home-section {
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section {
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }
  .home-section nav {
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav {
    width: calc(100% - 220px);
    left: 220px;
  }
}
@media (max-width: 1150px) {
  .home-content .datas-boxes {
    flex-direction: column;
  }
  .home-content .datas-boxes .box {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .home-content .datas-boxes .top-datas {
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box {
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i {
    display: none;
  }
  .home-section nav .profile-details {
    height: 50px;
    min-width: 40px;
  }
  .home-content .datas-boxes .datas-details {
    width: 560px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box {
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details {
    display: none;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 0;
  }
  .sidebar.active {
    width: 60px;
  }
  .home-section {
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section {
    left: 60px;
    width: calc(100% - 60px);
  }
  .home-section nav {
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section nav {
    left: 60px;
    width: calc(100% - 60px);
  }
}

/* CALENDAR */

ul {list-style-type: none;}

.month {
  padding: 55px 25px;
  width: 88%;
  background: #00634C;
  text-align: center;
  color : white;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 4px rgba(43, 43, 43, 0.2);
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 2px;
  padding: 2px 0;
}

.weekdays li {
  display: inline-block;
  width: 12.8%;
  text-align: center;
}

.days {
  padding: 2px 0;
  margin: 2px;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 12.6%;
  text-align: center;
  margin-bottom: 1px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #E84E0F;
  color: white !important;
}

/* Add media queries for smaller screens */
@media screen and (max-width:520px) {
  .weekdays li, .days li {width: 6.8%;}
}

@media screen and (max-width: 220px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 190px) {
  .weekdays li, .days li {width: 12.2%;}
}
