@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body,
button {
  font-family: "Inter", sans-serif;
}
:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
}
#table_data {
  overflow-x: auto; /* Activer le défilement horizontal si le contenu dépasse */
}

table {
  width: 100%; /* Remplir la largeur du conteneur */
  border-collapse: collapse;
}

th, td {
  padding: 6px; /* Espacement interne plus petit */
  text-align: left;
  white-space: nowrap; /* Empêcher le saut de ligne dans les cellules */
}

th {
  background-color: #f2f2f2;
}

/* Ajustement de la hauteur des lignes */
td, th {
  line-height: 1.2; /* Hauteur de ligne plus petite */
}

.table-container {
  overflow-x: auto;
  }
  table {
  width: 50%;
  border-collapse: collapse;
  }
  th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  }
  th {
  background-color: #f2f2f2;
  }